
html{
  scroll-behavior: smooth;
}

body {
	background-color: #FFFFD1;
}

 .container{
    width: 80%;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 120px 
}

.ajustes{
  line-height: 1;
  text-align: center;
}

.menu-opcoes{
  text-align: center;
}

.ajustes li:hover{
  background-color: #fff200;
  color:#2A2700;
}

header{
  background-color: #FFDA42;
  padding: 0%;
  margin: 0;
  padding-top: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em
  line-height:1.5;
  padding-bottom: 10px

}

footer{
    background-color: #FFDA42;
    padding: 0%;
    margin: 0;
    height: 30px;
    position: relative;
    display: flex;
    padding-top: 10px 
    font-size: 1.5em;
    line-height:1.5; 
    flex-direction: column;
    align-items: center; 
}

h1 { 
	  text-align: center;
	  color: #4C4300;	
    line-height: 1.5;
    font-size: 3em;
    font-family: 'Cookie', cursive;
}

.listastexto{
	  color: #363636;
	  font-family: 'Mali', cursive;
	  font-size: 1em;
}
      
h2, h3 {
   	color: #4C4300
    line-height: 3;
    font-size: 2em;
    margin-bottom: 2%;
	  margin-top: 2%;
	  color: #4C4300;	

}

h3{
	 font-family: 'Mali', cursive;
	  font-size: 1em;
}

h2{
	 font-family: 'Cookie', cursive;
	 font-size: 2em;

}
 
p{
	  margin-bottom: 2%;
	  margin-top: 2%;
    font-family: 'Mali', cursive;
    font-size: 1em;
}

            
figure{text-align: center;
}



.imgtexto{
	width: 40%;
	height: 40%;
 } 

 table{
 	border-collapse: collapse;
 	color: #000000;
 	width:40%;
 	margin-right: auto;
  margin-left: auto; 
 }

td,th{
	border: 1px solid #4C4300;
	padding: 2%
  font-size: 1em
}

td,th {
font-family: 'Mali', cursive;
font-size: 1em;
}

tr:nth-child(even){
	background-color: #FFFF85;
	font-family: 'Mali', cursive;
}


a:link {
  color: #4C4300;
  background-color: transparent;
  text-decoration: underline;
  font-family: 'Mali', cursive;
}

a:visited {
  color: #4C4300;
  background-color: transparent;
  text-decoration: underline;
  font-family: 'Mali', cursive;
}

a:hover {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
  font-family: 'Mali', cursive;
}

a:active {
  color:#4C4300 ;
  background-color: transparent;
  text-decoration: underline;
  font-family: 'Mali', cursive;
}

.fixo{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
       
  }

  h4{
    font-size: 1.5em;
  }g

@media screen and (max-width: 599px) {
  .container{
     margin-top: 30%;
  }
  }

@media screen and (min-width: 600px) {
  .container{
     margin-top: 20%;
  }
  }

@media only screen and (min-width: 768px) {
  .container{
     margin-top: 5%;
  }


  header{
    flex-direction: row;
    position: relative;
    height: 40px
  }
  
  .menu-opcoes{
    position: absolute;
    right:5%;
    top:35%;
  }

  .menu-opcoes ul li{
    display: inline;
    margin-left: 10px;
  }

  .imglogo{
    position: absolute;
    left: 2%;
  }
  }

  
  .testeri{
    float: left;
    vertical-align: middle;
  }

  .testepa{
    margin-left: 25%;
    line-height:150%;
  }
  
  .centro{
    text-align: center;
  }

  .fundo{
    background-color: #fffeeb;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    padding: 7% 
  }

  .distancia{
    margin-top: 2%;
    margin-bottom: 2%;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label{
  font-family: 'Mali', cursive;
  }

  input[type=submit] {
  width: 100%;
  background-color: #FFDA42;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  #sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
 }
  
  .icones{
    width: 7%;
    height:7%;
    margin-right: 4%;
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 2%;
  }

  #galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 10px;
    flex-wrap: wrap;
  }
  
  #galeria .galeria{
    margin: 10px 10px;
     align-items: center;
  }
 
